<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.cervicalcancer">

    <application>
        <activity android:name=".submodule.cervicalcancer.view.CervicalCancerActivity" />
        <activity android:name="zm.gov.moh.common.submodule.registration.view.RegistrationActivity" />
        <activity android:name=".submodule.enrollment.view.CervicalCancerEnrollmentActivity" />
    </application>
</manifest>