<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.cervicalcancer">

    <application>
        <activity
            android:name=".submodule.cervicalcancer.view.CervicalCancerActivity"
            android:label="MOH mCare - SmartCerv"
            android:theme="@style/Smartcerv" />
        <activity
            android:name="zm.gov.moh.common.submodule.registration.view.RegistrationActivity"
            android:label="SmartCerv" />
        <activity
            android:name=".submodule.enrollment.view.CervicalCancerEnrollmentActivity"
            android:label="MOH mCare - SmartCerv"
            android:theme="@style/Smartcerv" />
        <activity
            android:name=".submodule.register.view.RegisterActivity"
            android:theme="@style/Smartcerv" />
        <activity
            android:name=".submodule.dashboard.patient.view.PatientDashboardActivity"
            android:theme="@style/Smartcerv" />
        <activity android:name=".view.CervicalCancerHomeActivity"></activity>


    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />

</manifest>