*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/
.DS_Store
/build
/captures
/app/release/
.externalNativeBuild
.idea/assetWizardSettings.xml
*.log
