<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.core">
    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <service
            android:name=".service.SearchIndex"
            android:exported="false"/>
        <service
            android:name=".service.PersistEncounter"
            android:exported="false"/>
        <service
            android:name=".service.PersistDemographics"
            android:exported="false"/>

    </application>

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:required="false"/>
</manifest>
