<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.core">
    <application>
        <service
            android:name=".service.MetaDataSync"
            android:exported="false"/>
        <service
            android:name=".service.DataSync"
            android:exported="false"/>
        <service
            android:name=".service.SearchIndex"
            android:exported="false"/>
        <service
            android:name=".service.EncounterPersist"
            android:exported="false"/>
        <service
            android:name=".service.DemographicsPersist"
            android:exported="false"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--meta-data
        //android:name="android.support.FILE_PROVIDER_PATHS"
        //android:resource="@xml/file_paths" /!-->
</manifest>
