<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.app">

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/smartcerv_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smartcerv_icon"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".BootstrapActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.HomeActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c979d245cf19ca4595030fee182eb6f9150f7878" />
    </application>
    <supports-screens android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>