<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.common">

    <application>
        <activity android:name=".component.registration.view.RegistrationActivity"></activity>
        <activity android:name=".component.login.view.LoginActivity"></activity>
    </application>

</manifest>