<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zm.gov.moh.common">

    <application>
        <activity android:name=".submodule.login.view.LoginActivity" />
        <activity android:name=".submodule.register.view.RegisterActivity" />
        <activity android:name=".submodule.dashboard.client.view.ClientDashboardActivity" />
        <activity android:name=".submodule.vitals.view.VitalsActivity" />
        <activity android:name=".submodule.form.view.FormActivity" />
        <activity android:name=".view.CommonHomeActivity" />
        <activity android:name=".submodule.visit.view.Visit"></activity>
    </application>

</manifest>